/*
* Content Index
*/

.content-wrapper {
  background-color: $c-bg;
}

.content-block {
  .cb-header {
    padding: $space-smmm 0;
    color: $c-light;
    @media only screen and(max-width: 767px) {
      padding: 12px 0;
    }
    .list-inline {
      margin: 0;
      margin-left: -5px;
      line-height: 34px;
    }
  }
  .cb-content {
    margin-bottom: $space-sms;
    @media only screen and(max-width: 767px) {
      margin-bottom: 12px;
    }
  }
  &.head-div {
    border-top: solid 1px $c-divider;
    &.head-arrow {
      position: relative;
      .head-arrow-icon {
        position: absolute;
        width: 80px;
        background-color: $c-bg;
        top: 0;
        left: 50%;
        align-items: center;
        justify-content: center;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include display-flex();
        i {
          font-size: 20px;
          @include rotate(90deg);
        }
      }
      .cb-header {
        padding-top: 24px;
      }
    }
  }
}

.avatars {
  [class^='col-'] {
    &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
      @media only screen and(max-width: 767px) {
        display: none;
      }
    }
  }
  a {
    display: block;
    position: relative;
    max-width: 70px;
    min-width: 50px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    @media only screen and(max-width: 767px) {
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: auto;
    }
    .note {
      display: none;
      position: absolute;
      padding-top: 5px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $c-active;
      opacity: 0.9;
      color: $c-white;
      text-align: center;
      font-size: $fs-defff;
      font-weight: 500;
      align-items: center;
      justify-content: center;
    }
    &:hover .note {
      @include display-flex();
    }
  }
}

.b-article {
  .v-img {
    height: 200px;
    border-radius: 2px;
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .time {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $c-time;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      color: $c-white;
      font-size: $fs-sm;
      padding: 6px 9px 1px 9px;
      line-height: 14px;
      font-weight: 500;
    }

    .watched {
      position: absolute;
      top:5px;
      left: 5px;
      padding: 6px 4px 0px 5px;
      color: $c-white;
      font-size: $fs-xsm;
      line-height: $fs-xsm;
      font-weight: 600;
      border-radius: 2px;
      background-color: $c-time;
    }
    .watched-mask {
      background-color: $c-mask;
      opacity: 0.6;
      border-radius: 2px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left:0px;
    }
    .plus {
      width: 24px;
      height: 24px;
      border-radius: 3px;
      background-color: $c-white;
      opacity: 0.9;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      text-align: center;
      i {
        padding-top: 4px;
        display: inline-block;
      }
    }
    .plus-details {
      position: absolute;
      top: 5px;
      right: 34px;
      border-radius: 3px;
      background-color: $c-white;
      opacity: 0.9;
      text-align: left;
      ul {
        li {
          padding: 14px 16px;
          border-bottom: solid 1px $c-divider;
          &:last-child {
            border: none;
          }
          i{
            padding-right: 10px;
          }
        }
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
  .v-desc {
    color: $c-caption;
    font-weight: 500;
    padding-top: $space-sms;
  }

  .v-views {
    font-size: $fs-defs;
    color: $c-light;
    padding-top: 5px;
    @media only screen and(min-width: 768px) {
      padding-bottom: 30px;
    }
    .v-percent {
      color: $c-green-v;
      display: inline-block;
      position: relative;
      padding-left: 19px;
      .v-circle {
        border: solid 2px $c-green-v;
        border-radius: 7px;
        width: 14px;
        height: 14px;
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 0px;

      }
    }
  }

  &.last-row .v-views {
    padding-bottom: 0px;
  }

}

.video-mobile-02 {
  & > .row {
    flex-wrap: wrap;
    @include display-flex();
  }
  .h-article {
    [class^='col-']:last-child {
      @media only screen and(min-width: 768px) {
        margin-top: 25px;
      }
      @media only screen and(max-width: 767px) {
        padding-left: 0;
      }
    }
  }
}




.chanels-row {
  [class^='col-']:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    @media only screen and(max-width: 767px) {
      display: none;
    }
  }
}

.b-chanel {
  position: relative;
  .hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
    background-color: $c-mask-ch;
    opacity: 0.9;
    color: $c-white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a:hover .hover {
    @include display-flex();
  }
}

.b-playlist {
  .v-img {
    border-radius: 2px;
    position: relative;
    img {
      border: solid 2px $c-pl-border;
      width: 100%;

      height: 100%;
      object-fit: cover
    }
    a {
      display: inline-block;
      position: relative;
      z-index: 3;
      width: 100%;
    }
    .items {
      position: absolute;
      bottom: 15px;
      right: 15px;
      background-color: $c-time;
      border-radius: 2px;
      color: $c-white;
      font-size: $fs-sm;
      padding: 6px 9px 1px 9px;
      line-height: 14px;
      font-weight: 500;
      z-index: 5;
    }
    .l-1 {
      z-index: 1;
      position: absolute;
      width: 92%;
      left: 4%;
    }
    .l-2 {
      z-index: 2;
      position: absolute;
      margin-top: 11px;
      width: 96%;
      left: 2%;
    }
    .l-3 {
      z-index: 3;
      margin-top: 22px;
    }
  }
  .v-desc {
    color: $c-caption;
    font-weight: 500;
    padding-top: $space-sms;
    @media only screen and(max-width: 767px) {
      padding-top: 14px;
    }
  }
  .v-views {
    font-size: $fs-defs;
    color: $c-light;
    padding-bottom: 0px;
    padding-top: 5px;
    .v-percent {
      color: $c-green-v;
      display: inline-block;
      position: relative;
      padding-left: 19px;
      .v-circle {
        border: solid 2px $c-green-v;
        border-radius: 7px;
        width: 14px;
        height: 14px;
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 0px;

      }
    }

  }
}

.v-pagination {
  text-align: center;
  margin-bottom: 40px;
  a {
    display: block;
    padding: 0 24px;
    min-width: 70px;
    height: 62px;
    margin-top: 22px;
    border-radius: 30px;
    background-color: $c-divider;
    text-align: center;
    color: $c-default;
    font-size: $fs-defff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    @include display-flex();
    @media only screen and(max-width: 767px) {
      min-width: 60px;
      height: 50px;
      padding: 0 12px;
    }
    &:not(:last-child) {
      margin-left: 30px;
      @media only screen and(max-width: 767px) {
        margin-left: 12px;
      }
    }
    &:hover,
    &.active {
      color: $c-white !important;
      background-color: $c-icon;
      i {
        color: $c-white !important;
      }
    }
  }
  ul {
    justify-content: space-between;
    @include display-flex();
    @media only screen and(max-width: 767px) {
      flex-wrap: wrap;
    }
    li {
      @media only screen and(max-width: 767px) {
        display: none;
      }
    }
    .v-pagination-prev,
    .v-pagination-first,
    .v-pagination-skin,
    .v-pagination-next {
      display: block;
    }
  }
}


@media (min-width: 768px) and (max-width: 1365px) {
  .avatars {
    .col-sm-2 {
      padding-bottom: 10px;
    }
  }

  .articlelist {
    .articleitem {
      min-height: 360px;
      img {
        width: 100%;
      }
    }
  }
  .b-playlist {
    margin-bottom: 15px;
  }
  .b-chanel {
    img {
      width: 100%;
    }
    margin-bottom: 15px;
  }

  .v-pagination .pages {
    width: 62px;
    height: 62px;
  }
}


@media (min-width: 100px) and (max-width: 767px) {
  .avatars {
    .col-sm-2 {
      padding-bottom: 10px;
    }
  }

  .articlelist {
    .articleitem {
      min-height: 100px;
      img {
        width: 100%;
      }
      .v-views {
        @media only screen and(min-width: 768px) {
          padding-bottom: 30px;
        }
      }
      .last-row {
        .v-views {
          @media only screen and(min-width: 768px) {
            padding-bottom: 30px;
          }
        }
      }
      .b-article .v-desc {
        padding-top: 14px;
      }
    }
  }
  .b-playlist {
    margin-bottom: 15px;
  }
  .b-chanel {
    img {
      width: 100%;
    }
    margin-bottom: 15px;
  }

  .v-pagination .pages {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
  }

  .padding-def {
    padding: 15px 0;
  }

  .footer-logo {
    padding-bottom: 15px;
    text-align: center;
  }

  footer {
    .navbar-brand {
      float: none;
      img {
        display: inline-block;
      }
    }

    .f-links {
      text-align: center;
    }

    .f-copy {
      text-align: center;
    }
  }


}

.single-v-footer {
  & > *:not(.single-v-footer-switch) {
    @media only screen and(min-width: 768px) {
      display: block !important;
    }
    @media only screen and(max-width: 767px) {
      display: none;
    }
  }
  &-switch {
    margin-bottom: 30px;
    @include display-flex();
    @media only screen and(min-width: 768px) {
      display: none;
    }
    & > a {
      width: 100%;
      padding: 4px 0 16px;
      border-bottom: solid 2px #eceff0;
      cursor: pointer;
      text-decoration: none;
      align-items: baseline;
      justify-content: center;
      @include display-flex();
      i {
        margin-right: 4px;
        font-size: 20px;
        &::before {
          color: #637076;
        }
      }
      span {
        color: #7e7e7e;
      }
      &.active {
        border-bottom-color: #ea2c5a;
        span, i::before {
          color: #ea2c5a;
        }
      }
    }
  }
}

/*
* Content Index END
*/
