{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
    <div class="row">
        <div class="login-wraper">
            <div class="visible-lg">
                <img src="images/account.jpg" alt="">
            </div>
            <div class="banner-text hidden-xs">
                <div class="line"></div>
                <div class="b-text">
                    Des <span class="color-active">centaines<br> </span> <span class="color-b1">d'articles vous
                </span>attendent
                </div>
                <div class="overtext">
                    Plus de 15 articles ajoutés quotidiennement
                </div>
            </div>
            <div class="login-window">
                <div class="l-head">
                    Créer un compte
                </div>
                <div class="l-form">
                    <form method="post" action="/register">
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="John Doe">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                   placeholder="exemple@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="**********" name="password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">Votre mot de passe à nouveau</label>
                            <input type="password" class="form-control" id="exampleInputPassword2"
                                   placeholder="**********" name="password-check">
                        </div>
                        <div class="row">
                            <div class="col-lg-7"><button type="submit" name="submit" class="btn btn-cv1">Valider
                            </button></div>
                            <div class="hidden-xs">
                                <div class="col-lg-1 ortext">ou</div>
                                <div class="col-lg-4 signuptext"><a href="login">Connexion</a></div>
                            </div>
                        </div>
                        <div class="visible-xs text-center mt-30">
                            <span class="signuptext"><a href="/login">Se connecter</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
