{% extends "base.html" %}

{% block title %}Nouvelle page{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="content-block head-div">
                    <div class="cb-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Statistiques</h2>
                            </div>
                        </div>
                    </div>

                    <div class="cb-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Articles créés aujourd'hui</h5>
                                        <p class="card-text" id="createdArticleToday">0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Articles créés hier</h5>
                                        <p class="card-text" id="createdArticleYesterday">0</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Add two more cards for other statistics -->
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Articles créés cette semaine</h5>
                                        <p class="card-text" id="createdArticleThisWeek">0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Nombre d'utilisateurs</h5>
                                        <p class="card-text" id="numberOfUser">0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        function getStatsAndRender(option = ''){
            $.ajax({
                url: "/api/stats",
            }).done(function(result) {
                console.log(result)
                //result is a json object, loop through it and render the stats
                $.each(result, function(key, value) {
                    if(key == 'createdArticleToday'){
                        $('#createdArticleToday').html(value);
                    }
                    if(key == 'createdArticleYesterday'){
                        $('#createdArticleYesterday').html(value);
                    }
                    if(key == 'createdArticleThisWeek'){
                        $('#createdArticleThisWeek').html(value);
                    }
                    if(key == 'numberOfUser'){
                        $('#numberOfUser').html(value);
                    }
                });
            });
        }

        $( document ).ready(function() {
            getStatsAndRender();
        });
    </script>
{% endblock %}